@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
    font-family: "Poppins", sans-serif;
    background: #1a1a40;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

h1 {
    color: #fff;
    margin-bottom: 0.5rem;
    font-size: 1.75rem;
}

.FormBack {
    border-radius: 20px;
    padding: 1rem;
    box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
    background: linear-gradient(144deg, #af40ff, #5b42f3 70%);
    max-width: 800px;
    margin: 0px 150px 0px 150px;
}

.input {
    background: none;
    border: 1px solid #1a1a40;
    padding: 0.5rem 1rem;
    color: #fff;
    border-radius: 5px 0px 0px 5px;
}

.input:focus {
    border-color: rgb(0, 255, 187);
    outline: none;
}

.todo-btn {
    background: #1a1a40;
    color: rgb(0, 255, 187);
    border: none;
    padding: 0.55rem 1rem;
    cursor: pointer;
    border-radius: 0px 5px 5px 0px;
}

.Todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #1a1a40;
    color: #fff;
    padding: 0.75rem 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.form-check-input {
    margin-right: 0.5rem;
}

.completed {
    text-decoration: line-through;
    color: #c5aeff;
}

.fa-trash {
    margin-left: 1rem;
    cursor: pointer;
}

a {
    color: rgb(0, 255, 187);
    text-decoration: none;
}
